@model IEnumerable<DoConnectBackend.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.questionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.questionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.questionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.questionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.questionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.questionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.questionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
